<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900&subset=cyrillic-ext" rel="stylesheet">
  <link rel="stylesheet" href="css/images.svg.css">
  <link rel="stylesheet" href="css/screen.css">
</head>
<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="out">
  <div class="slider-menu js-slider-menu">
    <div class="container">
      <div class="slider-menu__logo imacss imacss-logo"></div>
      <div class="slider-menu__descr">
        <p>
          Позвоните и получите бесплатную<br> 
          консультацию тренера
        </p>
        <a href="tel: 84951090560">8 (495) 109 0560</a>
      </div>
      <div class="slider-menu__btn slider-menu__btn--md js-show-modal">
        <button class="btn">
          ЗАКАЖИТЕ ОБРАТНЫЙ ЗВОНОК
        </button>
      </div>
      <div class="slider-menu__btn slider-menu__btn--xs js-show-modal">
        <button class="btn">
          заказать звонок
        </button>
      </div>
    </div>
  </div>
  <div class="modal-form js-modal-form">
    <div class="modal-form__i">
      <div class="modal-form__form">
        <i class="modal-form__close js-close-form">
          <img src="img/icons-svg/close-form.svg" alt="">
        </i>
        <form action="" class="form">
          <input type="text" class="input form__input" placeholder="Ваше имя">
          <input type="tel" class="input form__input" placeholder="Ваш телефон">
          <button class="btn form__btn modal-form__btn" type="submit">
            ХОЧУ НАУЧИТЬСЯ ЗНАКОМИТЬСЯ
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="banner">
    <div class="container">
      <div class="banner__left-column">
        <h1 class="banner__logo imacss imacss-logo"></h1>
        <h3 class="banner__title">
          <span class="text--gradient">Бесплатный</span><br>
          мастер-класс
        </h3>
        <h2 class="banner__subtitle">
Как и где в Москве
познакомиться
с девушкой
за 30 секунд
        </h2>
        <p class="banner__date">
          <span>7</span>
          августа в
          <span>19:30</span>
        </p>
      </div>
      <div class="banner__right-column">
        <div class="banner__form">
          <form action="" class="form">
            <h3 class="form__title">Оставьте заявку прямо сейчас</h3>
            <input type="text" class="input form__input" placeholder="Ваше имя">
            <input type="tel" class="input form__input" placeholder="Ваш телефон">
            <button class="btn form__btn" type="submit">
              ХОЧУ НАУЧИТЬСЯ ЗНАКОМИТЬСЯ
            </button>
          </form>
        </div>
        <p class="empty-order">
          Осталось
          <span class="empty-order__number">3</span>
          <span class="empty-order__number">3</span>
          свободных мест
        </p>
      </div>
    </div>
  </div>
  <section class="what-you-now">
    <div class="container">
      <h2 class="what-you-now__title title">
        За 3 часа Вы узнаете:
      </h2>
      <div class="features-list">
        <div class="features-list__row">
          <div class="features-list__item">
            <i class="features-list__icon imacss imacss-what-say">
            </i>
            <p class="features-list__descr">
              <b>
                Что конкретно
                говорить
              </b>
              чтобы, девушка
              не отказала,
              а согласилась
              не встречу
            </p>
          </div>
          <div class="features-list__item">
            <i class="features-list__icon imacss imacss-woman-mind">
            </i>
            <p class="features-list__descr">
              <b>
                Как создать
                правильное первое
                впечатление
              </b>
              при знакомстве
              для того, чтобы
              она ждала встречи
            </p>
          </div>
          <div class="features-list__item">
            <i class="features-list__icon imacss imacss-drinks">
            </i>
            <p class="features-list__descr">
              <b>
                Куда отвезти
                девушку
                на свидание
              </b>
              и потратить до 90%
              денег меньше, чем
              обычно
            </p>
          </div>
          <div class="features-list__item">
            <i class="features-list__icon imacss imacss-tshirt">
            </i>
            <p class="features-list__descr">
              <b>
                Главный секрет
                внешнего вида
              </b>
              как выглядеть
              более
              привлекательно
              для девушек
            </p>
          </div>
        </div>
        <div class="features-list__row">
          <div class="features-list__item">
            <i class="features-list__icon imacss imacss-excuse">
            </i>
            <p class="features-list__descr">
              <b>
                Как перестать
                выдумывать кучу
                отмазок
              </b>
              и начать
              уже действовать
              (только работающие
              техники)
            </p>
          </div>
          <div class="features-list__item">
            <i class="features-list__icon imacss imacss-kiss">
            </i>
            <p class="features-list__descr">
              <b>
                Как правильно
                себя вести
              </b>
              чтобы, девушка
              сама инициировала
              знакомство
            </p>
          </div>
          <div class="features-list__item">
            <i class="features-list__icon imacss imacss-money">
            </i>
            <p class="features-list__descr">
              <b>
                Деньги - не главное
              </b>
              Как, заинтересовать
              девушку собой, а не деньгами
            </p>
          </div>
          <div class="features-list__item">
            <i class="features-list__icon imacss imacss-man-dreams">
            </i>
            <p class="features-list__descr">
              <b>
                Как перестать
                мечтать
              </b>
              и найти свою
              девушку за
              1 месяц
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="statistics">
    <div class="container">
      <h2 class="statistics__title title">
        Ваша личная жизнь<br>
        поменяется всего<br>
        <span class="text--gradient">за 1 вечер</span>
      </h2>
      <div class="stats">
        <div class="stats__i">
          <div class="stats__decor-square"></div>
          <span class="stats__txt">до мастер-класса</span>
        </div>
        <div class="stats__i">
          <div class="stats__decor-square stats__decor-square--gradient"></div>
          <span class="stats__txt">после мастер-класса</span>
        </div>
      </div>
      <div class="graphics">
        <div class="graphics__item">
        <span class="graphics__label">
      новых<br>
      свиданий<br>
      в месяц
        </span>
          <div class="graphics__graphic graphics__graphic--empty graphics__graphic--xs">
          <span class="graphics__number">
            0-2
          </span>
          </div>
          <div class="graphics__graphic graphics__graphic--gradient graphics__graphic--xxs">
          <span class="graphics__number">
            6-7
          </span>
          </div>
        </div>
        <div class="graphics__item">
        <span class="graphics__label">
          новых<br>
          знакомств<br>
          в месяц
        </span>
          <div class="graphics__graphic graphics__graphic--empty graphics__graphic--xl">
          <span class="graphics__number">
            0-5
          </span>
          </div>
          <div class="graphics__graphic graphics__graphic--gradient graphics__graphic--xxl">
          <span class="graphics__number">
            50-75
          </span>
          </div>
        </div>
        <div class="graphics__item">
        <span class="graphics__label">
          уровень девушек,<br>
          с которыми<br>
          знакомишься<br>
        </span>
          <div class="graphics__graphic graphics__graphic--empty graphics__graphic--xm">
          <span class="graphics__number">
            1-3
          </span>
          </div>
          <div class="graphics__graphic graphics__graphic--gradient graphics__graphic--xxm">
          <span class="graphics__number">
6-10
          </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="how-it-work">
    <div class="container">
      <h2 class="how-it-work__title title">
        Как это работает?
      </h2>
      <ul class="steps-list">
        <li class="steps-list__item">
          <span class="steps-list__step">1</span>
          <div class="steps-list__icon">
            <div class="steps-list__img">
              <div class="imacss imacss-teach-group"></div>
            </div>
              <p class="steps-list__descr">
                <b>МАСТЕРКЛАСС:</b><br>
                советы<br>
                и рекомендации<br>
                от тренера, открытие<br>
                перспектив,<br>
                демонстрация<br>
                потенциала
              </p>
          </div>
        </li>
        <li class="steps-list__item">
          <span class="steps-list__step">2</span>
          <div class="steps-list__icon steps-list__icon--bottom">
            <div class="steps-list__img">
              <div class="imacss imacss-group"></div>
            <p class="steps-list__descr">
                <b>ЛИЧНАЯ ВСТРЕЧА:</b><br>
                постановка задачи<br>
                и выбор программы<br>
                развития
              </p>
          </div>
        </li>
        <li class="steps-list__item">
          <span class="steps-list__step">3</span>
          <div class="steps-list__icon">
            <div class="steps-list__img">
              <div class="imacss imacss-check-document"></div>
            </div>
            <p class="steps-list__descr">
                <b>ПОДГОТОВКА:</b><br>
                серия заданий,<br>
                которые позволяют<br>
                подготовиться к<br>
                тренингу и выровнять<br>
                базовые навыки<br>
                участников

          </div>
        </li>
        <li class="steps-list__item">
          <span class="steps-list__step">4</span>
          <div class="steps-list__icon steps-list__icon--bottom">
            <div class="steps-list__img">
             <div class="imacss imacss-teach-training"></div>
            </div>
            <p class="steps-list__descr">
                <b>ТРЕНИНГ<br>
                  2 НЕДЕЛИ:</b><br>
                проработка<br>
                и уменьшение<br>
                страхов, 5 свиданий<br>
                с новыми девушками<br>
                30 телефонов

          </div>
        </li>
        <li class="steps-list__item">
          <span class="steps-list__step">5</span>
          <div class="steps-list__icon">
            <div class="steps-list__img">
             <div class="imacss imacss-foots"></div>
            </div>
            <p class="steps-list__descr">
                <b>ТРЕНИНГ<br>
                  3-4 НЕДЕЛИ:</b><br>
                2-3 соблазнения

          </div>
        </li>
        <li class="steps-list__item">
          <span class="steps-list__step">6</span>
          <div class="steps-list__icon steps-list__icon--bottom">
            <div class="steps-list__img">
             <div class="imacss imacss-strength"></div>
            </div>
            <p class="steps-list__descr">
                <b>ПОСЛЕ<br>
                  ТРЕНИНГА:</b><br>
                программа<br>
                закрепления<br>
                результата и схема<br>
                будущего развития

          </div>
        </li>
        <li class="steps-list__item">
          <span class="steps-list__step">7</span>
          <div class="steps-list__icon">
            <div class="steps-list__img">
              <div class="imacss imacss-shield"></div>
            </div>
            <p class="steps-list__descr">
                <b>ПОСЛЕ<br>
                  ТРЕНИНГА:</b><br>
                закрытый клуб<br>
                выпускников
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="feature">
    <div class="container">
      <h2 class="feature__title title">
        Что ждет Вас <span class="text--gradient">в будущем</span>
      </h2>
      <div class="feature__graphic">
        <span class="feature__vector-name">
          УРОВЕНЬ РАЗВИТИЯ ЛИЧНОЙ ЖИЗНИ
        </span>
        <span class="feature__vector-name feature__vector-name--bottom">
          ВРЕМЯ
        </span>
        <img data-original="img/icons-svg/graphic.svg" class="js-lazy">
        <span class="feature__descr feature__descr--1">
          Научитесь<br>
          знакомится<br>
          везде
        </span>
        <span class="feature__descr feature__descr--2">
          Умение<br>
          проводить<br>
          свидания
        </span>
        <span class="feature__descr feature__descr--3">
          Доводить <br>
          свидания до<br>
          результата
        </span>
        <span class="feature__descr feature__descr--4">
          Построение<br>
          крепких<br>
          отношений
        </span>
        <span class="feature__descr feature__descr--5">
          Семья с<br>
          любимой<br>
          девушкой
        </span>
        <span class="feature__descr feature__descr--6">
          Плыву по течению
        </span>
        <span class="feature__descr feature__descr--7">
         Семья с кем попало
        </span>
      </div>
      <div class="feature__graph-container">
        <div class="feature__vertical-graphic feature__vertical-graphic--black">
          <div class="feature__graphic-line feature__graphic-line--black"></div>
          <div class="feature__graphic-circle feature__graphic-circle--black">
          <span class="feature__graphic-label">
            Семья с кем<br>попало
          </span>
          </div>
          <div class="feature__graphic-circle feature__graphic-circle--black">
           <span class="feature__graphic-label">
            Плыву<br>
            по течению
          </span>
          </div>
          <div class="feature__graphic-line feature__graphic-line--black"></div>
          <div class="feature__graphic-start feature__graphic-start--black">
            <span class="feature__graphic-label">
              Остался<br>дома
            </span>
          </div>
      </div>
        <div class="feature__vertical-graphic feature__vertical-graphic--white">
          <div class="feature__graphic-start feature__graphic-start--white">
            <span class="feature__graphic-label feature__graphic-label--weight-900">
              Я пришел<br>на мастер класс
            </span>
          </div>
          <div class="feature__graphic-line feature__graphic-line--white feature__graphic-line--white-40"></div>
          <div class="feature__graphic-circle feature__graphic-circle--white feature__graphic-circle--white-1">
            <span class="feature__graphic-label feature__graphic-label--weight-300">
             Навык знакомиться<br>везде
            </span>
            <i class="feature__date">1 нед.</i>
          </div>
          <div class="feature__graphic-line feature__graphic-line--white feature__graphic-line--white-75"></div>
          <div class="feature__graphic-circle feature__graphic-circle--white feature__graphic-circle--white-2">
            <span class="feature__graphic-label feature__graphic-label--weight-300">
             Умения проводить<br>свидания
            </span>
            <i class="feature__date">1 мес.</i>
          </div>
          <div class="feature__graphic-line feature__graphic-line--white feature__graphic-line--white-93"></div>
          <div class="feature__graphic-circle feature__graphic-circle--white feature__graphic-circle--white-3">
            <span class="feature__graphic-label feature__graphic-label--weight-300">
            Высокий результат<br>на свиданиях
            </span>
            <i class="feature__date">2 мес.</i>
          </div>
          <div class="feature__graphic-line feature__graphic-line--white feature__graphic-line--white-88"></div>
          <div class="feature__graphic-circle feature__graphic-circle--white feature__graphic-circle--white-4">
             <span class="feature__graphic-label feature__graphic-label--weight-300">
               Построение крепких<br>отношений
             </span>
            <i class="feature__date">6 мес.</i>
          </div>
          <div class="feature__graphic-line feature__graphic-line--white feature__graphic-line--white-84"></div>
          <div class="feature__graphic-circle feature__graphic-circle--white feature__graphic-circle--white-5">
            <span class="feature__graphic-label feature__graphic-label--weight-400">
               Семья с любимой<br>девушкой
             </span>
            <i class="feature__date">1,5 года</i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="teacher-info">
    <div class="teacher-info__bg"></div>
    <div class="container">
      <div class="teacher-info__i">
        <h2 class="teacher-info__title title">
          Главный методист<br>
          <b class="title">
            Теймур Абуд
          </b>
        </h2>
        <div class="teacher-info__quote">
        <span class="quote">
         <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.34 147.69"><title>IC-</title>
    <linearGradient id='quote-gradient' gradientUnits='userSpaceOnUse' x1='18.25%' y1='-9.71%' x2='81.75%' y2='109.71%'>
        <stop stop-color='#6d6e70'/>
        <stop offset='.54' stop-color='#e7e7e7'/>
        <stop offset='.99' stop-color='#929397'/>
        <stop offset='1' stop-color='#929397'/>
    </linearGradient>
    <path fill="url(#quote-gradient)" d="M70.12,77.62v68.26H1.86V86.5q0-30.25,4.72-46.9t20-27.33Q41.82,1.58,70.12.75V29.61q-33.3,5-33.3,41.35v6.66h33.3Zm95.36,0v68.26H97.22V86.5q0-30.25,4.59-46.9t20.06-27.33Q137.34,1.58,165.48.75V29.61q-33.3,5-33.3,41.35,0,2.22.28,6.66h33Z"/></svg>
        </span>
        </div>
        <p>
          Все тренинги Мужской Школы построены таким образом, что вы плавно и без особых усилий встраиваете в свою жизнь новые навыки и модели поведения, которые приносят ощутимый результат уже в течение первой недели занятий.
        </p>
        <p>
          Таким образом, вы достигаете выдающихся результатов, не совершая выдающихся действий
        </p>
        <ul class="training-stats">
          <li class="training-stats__item">
          <span class="training-stats__number">
            950
          </span>
            <p class="training-stats__label">
              проведенных<br>
              тренингов<br>
            </p>
          </li>
          <li class="training-stats__item">
          <span class="training-stats__number">
            15 000
          </span>
            <p class="training-stats__label">довольных
учеников</p>
          </li>
          <li class="training-stats__item">
          <span class="training-stats__number">
            21
          </span>
            <p class="training-stats__label">
              выпускники проводят<br>
              свои тренинги<br>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="reports">
    <div class="container">
      <h2 class="reports__title title">
        Репортажи<br>
        и публикации<br>
        <span class="text--gradient">
          о школе
        </span>
      </h2>
      <div class="reports__slider">
        <header class="reports__header">
          <ul class="reports__channels-list">
            <li class="reports__chanel reports__chanel--active">
              <i class="reports__icon reports__icon--russia"></i>
            </li>
            <li class="reports__chanel">
              <i class="reports__icon reports__icon--tnt"></i>
            </li>
            <li class="reports__chanel">
              <i class="reports__icon reports__icon--elle"></i>
            </li>
            <li class="reports__chanel">
              <i class="reports__icon reports__icon--maxim"></i>
            </li>
          </ul>
        </header>
        <i class="reports__arrow reports__arrow--left arrow-left"></i>
        <i class="reports__arrow reports__arrow--right arrow-right"></i>
        <div class="reports__i js-slider js-reports-slider" data-slick='{"
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "dots": true
        }'>
          <div class="reports__slide">
            <img src="https://dummyimage.com/600x400/000/fff" alt="">
          </div>
          <div class="reports__slide">
            <img src="https://dummyimage.com/600x400/000/fff" alt="">
          </div>
          <div class="reports__slide">
            <img src="https://dummyimage.com/600x400/000/fff" alt="">
          </div>
          <div class="reports__slide">
            <img src="https://dummyimage.com/600x400/000/fff" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="comments">
    <div class="comments__i">
      <h2 class="comments__title title">
        Отзывы<br>
        участников
      </h2>
      <i class="comments__arrow comments__arrow--left arrow-left"></i>
      <i class="comments__arrow comments__arrow--right arrow-right"></i>
      <ul class="comments__dots js-comments-dots"></ul>
      <div class="comments__slider js-slider-comments">
        <div class="comments__slide">
          <div class="comments__video">
            <iframe height="237" src="https://www.youtube.com/embed/ASub8Yxxgn0" frameborder="0" allowfullscreen></iframe>
          </div>
          <section class="comments__author">
            <h3 class="comments__name">Евгений</h3>
            <span class="comments__years">37 лет</span>
            <p>
              Это (тренинг) дает стимул самому развиваться
            </p>
          </section>
          <div class="comments__comment">
            <div class="comments__quote">
              <span class="quote">
                <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.34 147.69"><title>IC-</title>
    <linearGradient id='quote-gradient' gradientUnits='userSpaceOnUse' x1='18.25%' y1='-9.71%' x2='81.75%' y2='109.71%'>
        <stop stop-color='#6d6e70'/>
        <stop offset='.54' stop-color='#e7e7e7'/>
        <stop offset='.99' stop-color='#929397'/>
        <stop offset='1' stop-color='#929397'/>
    </linearGradient>
    <path fill="url(#quote-gradient)" d="M70.12,77.62v68.26H1.86V86.5q0-30.25,4.72-46.9t20-27.33Q41.82,1.58,70.12.75V29.61q-33.3,5-33.3,41.35v6.66h33.3Zm95.36,0v68.26H97.22V86.5q0-30.25,4.59-46.9t20.06-27.33Q137.34,1.58,165.48.75V29.61q-33.3,5-33.3,41.35,0,2.22.28,6.66h33Z"/></svg>
              </span>
            </div>
            <p>
              Евгений пришел к нам с разочарованием в женщинах после разрыва продолжительных отношений. Прошел весь курс от знакомства до соблазнения и построения гармоничных отношений, сейчас живет с любимой девушкой.
            </p>
          </div>
        </div>
        <div class="comments__slide">
          <div class="comments__video">
            <iframe height="237" src="https://www.youtube.com/embed/4T05pUQISnk" frameborder="0" allowfullscreen></iframe>
          </div>
          <section class="comments__author">
            <h3 class="comments__name">Александр</h3>
            <span class="comments__years">39 лет</span>
            <p>
              Он (тренинг) влияет на жизнь человека целиком
            </p>
          </section>
          <div class="comments__comment">
            <div class="comments__quote">
              <span class="quote">
                 <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.34 147.69"><title>IC-</title>
    <linearGradient id='quote-gradient' gradientUnits='userSpaceOnUse' x1='18.25%' y1='-9.71%' x2='81.75%' y2='109.71%'>
        <stop stop-color='#6d6e70'/>
        <stop offset='.54' stop-color='#e7e7e7'/>
        <stop offset='.99' stop-color='#929397'/>
        <stop offset='1' stop-color='#929397'/>
    </linearGradient>
    <path fill="url(#quote-gradient)" d="M70.12,77.62v68.26H1.86V86.5q0-30.25,4.72-46.9t20-27.33Q41.82,1.58,70.12.75V29.61q-33.3,5-33.3,41.35v6.66h33.3Zm95.36,0v68.26H97.22V86.5q0-30.25,4.59-46.9t20.06-27.33Q137.34,1.58,165.48.75V29.61q-33.3,5-33.3,41.35,0,2.22.28,6.66h33Z"/></svg>
              </span>
            </div>
            <p>
              Александр во время прохождения тренинга научился преодолевать свои страхи и неуверенность в общении с девушками. Сейчас активно занимается знакомствами и соблазнением с высокими результатами.
            </p>
          </div>
        </div>
        <div class="comments__slide">
          <div class="comments__video">
            <iframe height="237" src="https://www.youtube.com/embed/LcedtcYWnHI" frameborder="0" allowfullscreen></iframe>
          </div>
          <section class="comments__author">
            <h3 class="comments__name">Александр</h3>
            <span class="comments__years">30 лет</span>
            <p>
              Он (тренинг) вправляет твои мозги в то русло, в котором должен мыслить нормальный мужчина
            </p>
          </section>
          <div class="comments__comment">
            <div class="comments__quote">
              <span class="quote">
                <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.34 147.69"><title>IC-</title>
    <linearGradient id='quote-gradient' gradientUnits='userSpaceOnUse' x1='18.25%' y1='-9.71%' x2='81.75%' y2='109.71%'>
        <stop stop-color='#6d6e70'/>
        <stop offset='.54' stop-color='#e7e7e7'/>
        <stop offset='.99' stop-color='#929397'/>
        <stop offset='1' stop-color='#929397'/>
    </linearGradient>
    <path fill="url(#quote-gradient)" d="M70.12,77.62v68.26H1.86V86.5q0-30.25,4.72-46.9t20-27.33Q41.82,1.58,70.12.75V29.61q-33.3,5-33.3,41.35v6.66h33.3Zm95.36,0v68.26H97.22V86.5q0-30.25,4.59-46.9t20.06-27.33Q137.34,1.58,165.48.75V29.61q-33.3,5-33.3,41.35,0,2.22.28,6.66h33Z"/></svg>
              </span>
            </div>
            <p>
              Проблема Александра заключалась в неумении занимать лидирующую позицию в отношениях с девушками. На тренинге Александр научился строить отношения, в которых лидирующая позиция принадлежит ему.
            </p>
          </div>
        </div>
        <div class="comments__slide">
          <div class="comments__video">
            <iframe height="237" src="https://www.youtube.com/embed/EVtl7gek4yE" frameborder="0" allowfullscreen></iframe>
          </div>
          <section class="comments__author">
            <h3 class="comments__name">Антон</h3>
            <span class="comments__years">24 лет</span>
            <p>
              Эти эмоции, которые Вы переживете после похождения курса, вы вряд ли когда-нибудь в своей жизни забудите
            </p>
          </section>
          <div class="comments__comment">
            <div class="comments__quote">
              <span class="quote">
                 <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.34 147.69"><title>IC-</title>
    <linearGradient id='quote-gradient' gradientUnits='userSpaceOnUse' x1='18.25%' y1='-9.71%' x2='81.75%' y2='109.71%'>
        <stop stop-color='#6d6e70'/>
        <stop offset='.54' stop-color='#e7e7e7'/>
        <stop offset='.99' stop-color='#929397'/>
        <stop offset='1' stop-color='#929397'/>
    </linearGradient>
    <path fill="url(#quote-gradient)" d="M70.12,77.62v68.26H1.86V86.5q0-30.25,4.72-46.9t20-27.33Q41.82,1.58,70.12.75V29.61q-33.3,5-33.3,41.35v6.66h33.3Zm95.36,0v68.26H97.22V86.5q0-30.25,4.59-46.9t20.06-27.33Q137.34,1.58,165.48.75V29.61q-33.3,5-33.3,41.35,0,2.22.28,6.66h33Z"/></svg>
              </span>
            </div>
            <p>
              Антон пришел к нам практически без опыта общения с девушками. После прохождения тренинга Антон не только научился общаться и соблазнять девушек, но и стал полевым инструктором, и сейчас сам помогает новичкам преодолеть свои страхи и сложности в общении с противоположным полом.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="write-us">
    <div class="container">
      <div class="write-us__i">
        <h2 class="write-us__title title">
          Запишитесь<br>
          на <span class="text--gradient">бесплатный<br></span>
          мастер-класс прямо сейчас
        </h2>
        <div class="write-us__form">
          <form action="" class="form">
            <input type="text" class="input form__input" placeholder="Ваше имя">
            <input type="tel" class="input form__input" placeholder="Ваш телефон">
            <button class="btn form__btn" type="submit">
              ХОЧУ НАУЧИТЬСЯ ЗНАКОМИТЬСЯ
            </button>
          </form>
        </div>
        <p class="empty-order">
          осталось
          <span>3</span>
          <span>3</span>
          свободных мест
        </p>
      </div>
    </div>
  </section>
  <section class="place">
    <header class="place__decor-triangle">
      <img data-original="img/icons-svg/place-triangle.svg" alt="" class="js-lazy">
      <h2 class="place__title title">
        Место проведения:
      </h2>
      <div class="place__small-triangle imacss imacss-place-triangle-small">
        {#<div class="imacss imacss-place-triangle-small"></div>#}
      </div>
    </header>
    <div class="map" id="map"></div>
  </section>
</div>
<script src="js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJo_iVkAG1iRL6EqwdgOGpT8uNnvBChV8&callback=initMap" async></script>
</body>
</html>
